.firework {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    box-shadow:
        -100px -100px 0 #FF69B4, 100px -100px 0 #FFD700,
        -100px 100px 0 #00E5FF, 100px 100px 0 #7B61FF;
    animation: explode 1s ease-out infinite;
}

@keyframes explode {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -50%) scale(40);
        opacity: 0;
    }
}

/* Randomize positions */
.firework:nth-child(2) {
    animation-delay: 0.3s;
    top: 30%;
    left: 70%;
}

.firework:nth-child(3) {
    animation-delay: 0.6s;
    top: 70%;
    left: 20%;
}